name: Blog Preview
on:
  pull_request_target:
    branches: ["main"]
permissions:
  contents: read
  pull-requests: write
jobs:
  draft:
    uses: curvenote/actions/.github/workflows/draft.yml@v1
    with:
      venue: oxa
      kind: blog
      collection: blog
      path: articles/*
    secrets:
      CURVENOTE: ${{ secrets.CURVENOTE_TOKEN }}
      GITHUB: ${{ secrets.GITHUB_TOKEN }}
